* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
  min-height: 500px;
  border-radius: 10px;
  margin: 120px auto;
  background-color: white;
  padding: 16px;
}

h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-row label {
  font-size: 20px;
}

.input-row input {
  background-color: #eee;
  padding: 4px 16px;
  outline: none;
  border-radius: 8px;
  border: none;
  height: 48px;
  margin-bottom: 16px;
  font-size: 20px;
}

.placement-btn {
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn {
  background-color: #eee;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 4px 16px;
  border-radius: 8px;
  border: solid 1px #333;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #333;
  color: white;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.result .label {
  font-size: 14px;
  font-weight: 600;
}

.result .result {
  font-size: 30px;
  font-weight: medium;
}
